extend pageProductos 
block Productos
    h2(class="danger text-center")='Productos cargados'
    div(class="table-responsive") 
        table(class="table table-dark") 
            tr(class="warning") 
                th(class="danger")='Nombre'
                th='Precio'
                th='Imagen'
            div=productos
    h3 
    div(style="text-align: center;margin-top:2em") 
        a(href="http://localhost:8080/")="Formulario"             